<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datayp.cupbankpay.dao.UserDao">
	<resultMap id="userMap" type="User">
	    <id property="id" column="id" />
	    <result property="number" column="number"/>
	    <result property="name" column="name"/>
	</resultMap>
	
    <select id="getValue" parameterType="Integer" resultMap="userMap">
        select id, number, name
            from tbl_user
            where id = #{id}
    </select>
    <select id="getValueByNumber" parameterType="String" resultMap="userMap">
        select id, number, name
            from tbl_user
            where number = #{number}
    </select>
    <select id="getList" parameterType="hashmap" resultMap="userMap">
        select id, number, name
            from tbl_user
    </select>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
         insert into tbl_user(number, name)
        	 values(#{number}, #{name})
    </insert>

    <update id="update" parameterType="User">
         update tbl_user set
        	 number = #{number},
        	 name = #{name}
             where id = #{id}
    </update>

    <delete id="delete" parameterType="Integer">
         delete from tbl_user
             where id = #{id}
    </delete>

</mapper>
